<p>Olá, {{user.available_name}},</p>

<p>
 Conversa #{{conversation.display_id}} em {{ inbox.name }}
 não cumpriu o SLA de tempo de resolução sob a política {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">Entre em contato imediatamente.</a>
</p>